# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.Python

# Virtual Environment
venv/
env/
ENV/

# PyCharm
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
# Streamlit secrets
.streamlit/secrets.toml
app/my_app/.streamlit/secrets.toml
**/secrets.toml